﻿@{
    ViewBag.Title = "Contact List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
@section scripts {
    <script src="~/Scripts/angularjs/angular.js"></script>
    <script src="~/Scripts/AngularPhone.js"></script>

}
<div ng-app="PhoneApp" id="body">
    <br />
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa-search"></i>
                </div>
                <input type="text" class="form-control" placeholder="Search" ng-model="search.$">
            </div>
        </div>
    </form>
    <br />
    <div ng-controller="PhoneController">
        <button class="btn btn-success" ng-click="showCreateForm()"> Create New User</button>
        <form ng-hide="createForm">
            <p>Create new contact</p>
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control" name="name" ng-model="Phone.Name" /></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><input type="text" class="form-control" name="Location" ng-model="Phone.Location" /></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input type="text" class="form-control" name="phone" ng-model="Phone.PhoneNumber" /></td>
                </tr>
                <tr>
                    <td><input type="hidden" ng-model="Phone.Id" /></td>
                    <td>
                        <input type="button" class="btn btn-default" value="Save" ng-click="saveContact()" />
                        <input type="button" class="btn btn-default" value="Clear" ng-click="clearNewPhone()" />
                    </td>
                </tr>
            </table>
        </form>
        <br />
        <form ng-hide="editFrom">
            <p>Edit contact</p>
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control" name="name" ng-model="UpdateContact.Name" /></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><input type="text" class="form-control" name="Location" ng-model="UpdateContact.Location" /></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input type="text" class="form-control" name="phone" ng-model="UpdateContact.PhoneNumber" /></td>
                </tr>
                <tr>
                    <td><input type="hidden" ng-model="UpdateContact.Id" /></td>
                    <td>
                        <input type="button" class="btn btn-default" value="Save Changes" ng-click="saveChangesContact()" />
                        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancel()" />
                    </td>
                </tr>
            </table>
        </form>
        <br />
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3" style="border:1px solid black;">
                        <b>

                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </b>
                    </div>


                    @*<div ng-repeat="header in headers">
                            <div class="col-sm-3" style="border:1px solid black;">
                                <a> {{headers[$index]}} </a>
                            </div>
                        </div>*@

                    <div class="col-sm-3" style="border:1px solid black;"><b> Location</b></div>
                    <div class="col-sm-3" style="border:1px solid black;"><b> Phone</b></div>
                    <div class="col-sm-3" style="border:1px solid black;"><b> Action</b></div>
                    <div ng-repeat="phone in PhoneList | filter:search |orderBy:sortType:sortReverse ">
                        <div style="display:none">{{phone.Id}}</div>
                        <div class="col-sm-3">{{ phone.Name }}</div>
                        <div class="col-sm-3">{{ phone.Location }}</div>
                        <div class="col-sm-3">{{ phone.PhoneNumber }}</div>

                        <div class="col-sm-3">
                            <button class="btn btn-info" ng-click="edit(phone.Id)"> Edit</button>
                            <button class="btn btn-danger" ng-click="delete(phone.Id)">Delete</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
